<div class = 'product-detail-page'>
    <div class = 'product-detail-icon' >
        <a href=""><i class="fas fa-home"></i></a>
        <p style="margin-top: 5px;margin-left: 5px;">></p>
        <p style="font-size: 20px;margin-left: 5px;margin-right: 905px;">Tìm kiếm</p>
        <select (change)="changeStatus($event.target.value)" class="custom-select col-md-4 col-lg-2 col-sm-12">
            <option value="0">Lọc sản phẩm</option>
            <option value="1">Sản phẩm mới về</option>
            <option value="2">Giá giảm dần</option>
            <option value="3">Giá tăng dần</option>
         </select>
    </div>
    <hr/>
</div>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-lg-2'>
            <h5 style="font-weight: normal ; text-align: center; border:1px solid #ddd;height: 33px;padding-top: 6px;">LỌC SẢN PHẨM</h5>
            <h4>Hãng sản xuất</h4>
            <div *ngFor = "let item of list_trademark_show">
                <input type="checkbox"  [(ngModel)]="item.selected"  (ngModelChange)="filterProducts()"  style="margin-right: 3px">{{item.trademark_name}}
            </div>
            
        </div>
        <div class = 'col-lg-10'>
            <div class = "product-grid" style="display: flex;flex-wrap: wrap;">
                <div class= 'product-item' style="width: 25%;" *ngFor="let item of list_product_laptop">
                  <div class = 'product-item-detail' style="display: grid;height: 100%;">
                    <div class = 'product-image'>
                      <a [routerLink] = "['/',item.product_id]"><img src="{{item.image}}" alt="" style="width: 250px;height: 250px;"></a>
                    </div>
                    <div class = 'product-description'>
                      <div class = 'product-title'>
                        <p><a href=""></a> {{[item.product_name]}}</p>
                      </div>
                    </div>
                    <div class = 'product-price' style="align-self: flex-end; margin-left: 15px;">
                      <del class = 'product-price-old'>{{item.price |  currency: 'VND' }}</del>
                      <span class = 'product-price-new'>{{item.price_new | currency: 'VND'}}</span>
                    </div>
                    <div class = 'product-'></div>
                  </div>
                </div>
              </div>
        </div>
    </div>
   
</div>