<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">{{ title }}</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="example-form">

    </form>
    <form [formGroup]="formGroup" novalidate (ngSubmit)="save()">
      <div class="col-md-12">
        <div class="form-group">
          <label>Tên sản phẩm</label>
          <ng-select [items]="arraylist_product" placeholder="Hãy chọn sản phẩm" bindLabel="product_name"
            bindValue="product_id" formControlName="product_id">
          </ng-select>
          <div *ngIf="submitted && formGroup.controls['product_id'].errors?.required">
            <div *ngIf="formGroup.controls['product_id'].errors?.required" style="color: red">
              * Tên sản phẩm không được để trống
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Ngày khuyến mãi</label>
          <ng-select [items]="arraylist_promotion_date" placeholder="Hãy chọn ngày khuyến mãi" bindLabel="date"
            bindValue="promotion_date_id" formControlName="promotion_date_id">
          </ng-select>
          <div *ngIf="submitted && formGroup.controls['promotion_date_id'].errors?.required">
            <div *ngIf="formGroup.controls['promotion_date_id'].errors?.required" style="color: red">
              * Ngày khuyến mãi không được để trống
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Mức khuyến mãi</label>
          <input type="number" name="" min="0" max="100" class="form-control" formControlName="promotion_level"
            id="promotion_level" />
          <div *ngIf="submitted && formGroup.controls['promotion_level'].errors?.required">
            <div *ngIf="formGroup.controls['promotion_level'].errors?.required" style="color: red">
              * Mức khuyến mãi không được để trống
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" align="center">
        <button type="submit" class="btn btn-success" style="width: 100px;height:38px; background:'green';"
          *ngIf="isEdit || isAdd">
          Lưu
        </button>
        <button type="button" class="btn btn-danger" style="width: 100px" (click)="modal.dismiss('Cross click')">
          Thoát
        </button>
      </div>
    </form>
  </div>
</ng-template>