
<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class=" p-3" style="background-color: #ffee00ef;">
      <!--Grid row-->
      <div class="row" style="text-align:left;">
        <!--Grid column-->
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h4 class="text-uppercase">TDCSHOP-HÀ NỘI</h4>
        <hr/>
          <ul class="list-unstyled mb-0">
            <li>
              <h5>Cơ sở 1: 10 ngõ 5 Nguyễn Khánh Toàn, Hà Nội</h5>
            </li>
            <li>
              <h5>Kinh doanh: 0386123369</h5>
            </li>
            <li>
              <h5>Bảo hành : 0336181546</h5>
            </li>
            <li>
              <h5>Khiếu nại dịch vụ : 0982769175</h5>
            </li>
            <li>
                <h5>Open: 8H30 - 20H hàng ngày</h5>
              </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h4 class="text-uppercase ">TDCSHOP-NGHỆ AN</h4>
          <hr/>
            <ul class="list-unstyled mb-0">
                <li>
                  <h5>Cơ sở 2: 6 Hải Thượng Lãn Ông,Thái Hòa, Nghệ An</h5>
                </li>
                <li>
                  <h5>Kinh doanh: 0336181546</h5>
                </li>
                <li>
                  <h5>Bảo hành : 0982769175</h5>
                </li>
                <li>
                  <h5>Khiếu nại dịch vụ : 0386123369</h5>
                </li>
                <li>
                    <h5>Open: 8H30 - 20H hàng ngày</h5>
                  </li>
              </ul>
        </div>

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
            <h4 class="text-uppercase ">TDCSHOP-HỒ CHÍ MINH</h4>
            <hr/>
                <ul class="list-unstyled mb-0">
                    <li>
                      <h5>Cơ sở 3: 595/22 Cách Mạng Tháng 8, Phường 15, Quận 10, TP.HCM</h5>
                    </li>
                    <li>
                      <h5>Kinh doanh: 0982769175</h5>
                    </li>
                    <li>
                      <h5>Bảo hành : 0386123369 </h5>
                    </li>
                    <li>
                      <h5>Khiếu nại dịch vụ : 0336181546</h5>
                    </li>
                    <li>
                        <h5>Open: 8H30 - 20H hàng ngày</h5>
                      </li>
                  </ul>
          </div>
        <!--Grid column-->
      </div>
      <div class="row"  style="text-align:left; margin-top: 50px;">
        <!--Grid column-->
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h4 class="text-uppercase">QUY ĐỊNH & CHÍNH SÁCH</h4>
          <hr/>
          <ul class="list-unstyled mb-0">
            <li>
              <h5><a href="#!" class="text-dark">Chính sách bảo hành</a></h5>
            </li>
            <li>
              <h5><a href="#!" class="text-dark">Vận chuyển, giao nhận</a></h5>
            </li>
            <li>
              <h5><a href="#!" class="text-dark">Chính sách bảo mật</a></h5>
            </li>
            <li>
              <h5><a href="#!" class="text-dark">Chính sách đổi trả</a></h5>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
          <h4 class="text-uppercase ">Hỗ trợ khách hàng</h4>
          <hr/>
          <ul class="list-unstyled mb-0">
            <li>
              <h5><a href="#!" class="text-dark">Hướng dẫn mua hàng online</a></h5>
            </li>
            <li>
              <h5><a href="#!" class="text-dark">Hướng dẫn thanh toán</a></h5>
            </li>
            <li>
              <h5><a href="#!" class="text-dark">Yêu cầu kĩ thuật</a></h5>
            </li>
            <li>
              <h5><a href="#!" class="text-dark">Góp ý, khiếu nại</a></h5>
            </li>
          </ul>
        </div>

        
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>

    
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(100, 100, 100, 0.884); color: aliceblue;">
      © 2021 Copyright:
      <a class="" style="color: aliceblue;" href="https://www.facebook.com/tiendat090499/">tiendat.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->