.order-sucess{
    background-color: #f4f4f4;
}

.order-sucess-main{
    border: 1px solid #243a76;
    background-color: white;
}

.order-sucess-h1 + .order-sucess-detail{
    margin-left: 15px;
}

.order-sucess-h1{
    background-color: #243a76;
    height: 65px;
}

.order-sucess-detail h3{
    margin-bottom: 0px;
    font-weight: bold;
}

.order-sucess-h1 h1{
    padding:17px;
}

.order-sucess-info{
    padding:15px;
    
}

.order-sucess-table-info th{
    font-weight: normal;
    font-size: 15px;
}

.order-sucess-table-info-th{
    padding-left: 50px;
}
