<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">{{ title }}</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" novalidate (ngSubmit)="save()">


      <div class="form-group">
        <label>Email</label>
        <input type="text" name="" class="form-control" formControlName="email" id="email" />
        <div *ngIf="submitted && formGroup.controls['email'].errors?.required">
          <div *ngIf="formGroup.controls['email'].errors?.required" style="color: red">
            * Email không được để trống
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Họ tên</label>
        <input type="text" name="" class="form-control" formControlName="full_name" id="full_name" />
        <div *ngIf="submitted && formGroup.controls['full_name'].errors?.required">
          <div *ngIf="formGroup.controls['full_name'].errors?.required" style="color: red">
            * Họ tên không được để trống
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" name="" class="form-control" formControlName="address" id="address" />
        <div *ngIf="submitted && formGroup.controls['address'].errors?.required">
          <div *ngIf="formGroup.controls['address'].errors?.required" style="color: red">
            * địa chỉ không được để trống
          </div>
        </div>
      </div>

      <div class="form-group">
        <label> Số Điện thoại</label>
        <input type="text" name="" class="form-control" formControlName="phone_number" id="phone_number" />
        <div *ngIf="submitted && formGroup.controls['phone_number'].errors?.required">
          <div *ngIf="formGroup.controls['phone_number'].errors?.required" style="color: red">
            * Số điện thoại không được để trống
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Hình ảnh</label>
        <div class="profile-img">
          <img [src]="urlPictureDefault" alt="Ảnh đại diện" />
        </div>
        <div [hidden]="isInfo" id="profile-input" class="file btn btn-lg btn-primary">
          Change Photo
          <input type="file"  (change)="uploadImage($event)" name="file" />
        </div>
      </div>
      <div class="form-group">
        <label>Tạo lúc</label>
        <input readonly type="text" name="" class="form-control" formControlName="created_at" id="created_at" />
      </div>


      <div class="form-group" align="center">
        <button [hidden]="checkButton" type="submit" class="btn btn-success"
          style="width: 100px;height:38px; background:'green';" *ngIf="isEdit || isAdd">
          Lưu
        </button>
        <button type="button" class="btn btn-danger" style="width: 100px" (click)="modal.dismiss('Cross click')">
          Thoát
        </button>
      </div>

    </form>
  </div>
</ng-template>