<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card-group" style="padding-top: 160px;">
                        <div class="card p-4">
                            <div class="card-body">
                                <form [formGroup]="formReset">
                                    <h1>Thay đổi mật khẩu</h1>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" name="email" formControlName="email"
                                            placeholder="Email" readonly />
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" name="password"
                                            formControlName="password" required placeholder="Password" />
                                    </div>
                                    <div
                                        *ngIf="submitted && formReset.controls['password'].errors?.required || formReset.controls['password'].errors?.pattern">
                                        <div *ngIf="formReset.controls['password'].errors?.required" style="color: red">
                                            * Password không được để trống
                                        </div>
                                        <div *ngIf="formReset.controls['password'].errors?.pattern" style="color: red">
                                            *Password phải trên 8 kí tự
                                        </div>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control" name="password"
                                            formControlName="confirm_password" required placeholder="ConfirmPassword" />
                                    </div>
                                    <div
                                        *ngIf="submitted && formReset.controls['confirm_password'].errors?.required || formReset.controls['confirm_password'].errors?.pattern">
                                        <div *ngIf="formReset.controls['confirm_password'].errors?.required"
                                            style="color: red">
                                            * Conform Password không được để trống
                                        </div>
                                        <div *ngIf="formReset.controls['confirm_password'].errors?.pattern"
                                            style="color: red">
                                            * Conform Password phải trên 8 kí tự
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6  mx-auto" style="text-align: center;">
                                            <button type="button" (click)="ChangePassword()"
                                                class="btn btn-primary px-4">Xác
                                                nhận</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button type="button" [routerLink]="'/login'"
                                            class="btn btn-link px-0">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>