.row{
    display: flex;
    margin-top: 40px;
    margin-left: 0px;
}

.account-left{
    flex: 0 0 20%;
    max-width: 20%;
    border-radius: 8px;
}

.account-customer{
    display: flex;
}

.account-customer img{
    height: 90px;
    width: 90px;
    border-radius: 45px;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}

#account-list-page{
    margin-top: 15px;
}

#account-list-page a{
    display: flex;
    align-items: center;
    line-height: 40px;
    padding:0 10px;
    text-decoration: none;
    color: black;
}

.active, .link:hover{
    background-color: #ececec;
}

#account-list-page i{
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    color: #888;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.account-right{
    max-width: 955px;
    margin-left: 1rem;
    border-radius: 5px;
}


.file {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 1;
    font-size: 8px;
    background: #212529b8;
}
 .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    width: 100%;
}