<div class = 'product-detail-page'>
    <div class = 'product-detail-icon'>
        <a href=""><i class="fas fa-home"></i></a>
        <p style="margin-top: 5px;margin-left: 5px;">></p>
        <h5 style="margin-top: 5px;margin-left: 5px;">Laptop</h5>
    </div>
    <hr/>
    <div class = 'product-detail-description'></div>
    <div></div>
</div>
<div class = 'container'>
    <div class = 'product-detail-main row'>
        <div class = 'product-detail-image col-lg-4'> 
            <img src="https://firebasestorage.googleapis.com/v0/b/upload-image-904a9.appspot.com/o/computerstore%2Fproduct%2Flaptop-1.png?alt=media&token=99364f1a-c078-4d2f-809c-951125f3d719" alt="">
        </div>
        <div class = 'col-lg-5'>
            <h3 style="margin-bottom: 15px;">CPU AMD EPYC 7302 8 Nhân 16 Luồng</h3>
            <span>Lượt mua : 326</span>
            <p>Dòng CPU AMD EPYC™ 7002 Series</p>
            <p>Tốc độ 3.0GHz turbo up to 3.3GHz</p>
            <p>Bus Ram hỗ trợ 3200MHz, DDR4</p>
            <p>8 kênh Nhân CPU 16 Luồng CPU 32</p>
        </div>
        <div class = 'col-lg-3 product-shop'>
            <div class = 'product-shop-title'>
                <p class = 'p'>LƯU Ý KHÔNG BÁN LẺ VGA</p>
                <div class = 'product-shop-detail'>
                    <p>Do thiếu nguồn hàng nên TIENDATCOMPUTER không bán lẻ VGA</p>
                </div>
            </div>
            <div class = 'product-shop-title'>
                <p class = 'p'>YÊN TÂM MUA SẮM TẠI TIENDATCOMPUTER</p>
                <div class = 'product-shop-detail'>
                    <p>Cam kết giá thành tốt nhất khi mua ở TIENDATCOMPUTER</p>
                    <p>TIENDATCOMPUTER có 3 chi nhánh tại các TP lớn</p>
                    <p>Bảo hành lỗi 1 đổi 1 trong 30 ngày đầu</p>
                    <p>Hỗ trợ bảo hành tại nhà</p>
                    <p>Mua hàng trả góp lãi suất 0%</p>
                </div>
            </div>
            <div class = 'product-shop-title'>
                <p class = 'p'>CHÍNH SÁCH GIAO HÀNG</p>
                <div class = 'product-shop-detail'>
                    <p>Giao hàng trước trả tiền sau COD toàn quốc</p>
                    <p>Miễn phí giao hàng nội thành HN & HCM</p>
                </div>
            </div>
        </div>
    </div>
</div>
