.product-detail-icon{
    display: flex;
    padding: 15px;
    height: 45px;
}

.product-detail-icon a{
    margin-left: 17px;
    font-size: 20px;
}

hr{
    border : 1px solid #ffee00ef;
    background-color: #ffee00ef;
    width: 95%;
    text-align: left;
}

.product-detail-image img{
    width: 450px;
    height: 450px;
}



.p{
    background-color: #ffee00ef;
    text-align: center;
    font-size: 12px;
}

.product-shop-detail{
    border: 1px solid #ddd;
}