.loader-container{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: -100px;
    opacity: 0.85;
    z-index: 99999;
}
.product-detail-icon{
    display: flex;
    padding: 15px;
    height: 45px;
}

.product-detail-icon a{
    margin-left: 17px;
    font-size: 20px;
}

hr{
    border : 1px solid #243a76;
    background-color: #243a76;
    width: 80.4rem;
    text-align: left;
}

.product-detail-image img{
    width: 450px;
    height: 450px;
}

.product-shop-title{
    margin-bottom: 20px;
}

.product-description p{
    margin-bottom: 0;
    font-size: 14px;
}

.product-description i{
    margin-right: 5px;
    color: #243a76;
}

#p{
    background-color: #243a76;
    text-align: center;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 0;
    color: #fff;
}

.product-shop{
    width: 300px;
}

.product-shop-detail i{
    color: #243a76;
    margin-right: 5px;
}
.product-shop-title p{
    margin-bottom: 2px;
}

h4{
    color: #fff;
    font-size: 18px;
}

.product-shop-detail{
    border: 1px solid #ddd;
}

.product-button{
    display: flex;
    margin-top: 5px;
}

.product-button :single-button{
    border: 0px;
}

.product-price-old{
    font-size: 15px;
}

.product-price-new{
    font-size: 20px;
    color: red;
}
.product-button button{
    width: 255px;
    height: 55px;
    color: white;
    border-radius: 30px;
    border :1px;
    outline: none;
}

.product-detail-main{
    padding-bottom: 20px;
}

.product-title-container{
    padding : 9px;
    height: 45px;
    background-color: #243a76;
    width: 325px;
    color: white;
}

.product-image img{
    width: 250px;
    height: 250px;
}

.product-grid{
    display: flex;
    width: 25%;
  
}

.product-item{
    border: 1px solid #ddd;
    width: 20%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 400px;
}

.product-description{
    margin:0 10px;
}

.product-price-new{
    font-size: 22px;
    color: red;
}

.product-checked{
    display: -webkit-inline-box;
}
.product-checked p{
    text-align: inherit;
    margin-left: 0px;
}

.product-checked button{
    outline: none;
    border: 0;
    background-color: #fff;
    font-size: 20px;
    position: relative;
    bottom: 5px;
}

.product-item-detail{
    display: grid;
    height: 100%;
}

.product-item-detail-hover{
    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        height: 250px;
        width: 100%;
        transition: .5s ease;
        background-color:#fff;
        z-index: 98;
}

.product-item-info{
    color: #333;
}

.product-item-detail-hover p{
    margin: 0;
    color: #333;
}

.product-item a:hover  .product-item-detail-hover{
    opacity: 1;
    z-index: 99;
    cursor: pointer;
    
}

.send-comment{
    padding:28px;
}

.send-comment button{
    color: #fff;
    padding: 3px 15px;
    background-color: #288ad6;
    border-radius: 4px;
    border:0;
    line-height: 25px;
    outline: none;
    margin-top: 5px;
}

.product-title-container h3::after{
    content: '';
    position: relative;
    left: 36.4px;
    bottom: 33.8px;
    border-bottom: 44px solid #243a76;
    border-right: 50px solid #00000000;
}

::ng-deep .carousel-indicators{
    bottom: -45px !important;
}

::ng-deep .carousel-indicators li {
    width: 3rem !important;
}

::ng-deep .carousel-control-prev{
    height: 50px !important;
    margin-top: 135px !important;
}

::ng-deep .carousel-control-next{
    margin-top: 135px !important;
    height: 50px !important;
}

::ng-deep .carousel-indicators img{
    max-height: 42px;
    max-width: 42px;
    object-fit: cover;
}

.img-fluid{
    border: 1px solid #ddd;
}

::ng-deep .carousel-control-prev-icon{
    background-image:  url('https://firebasestorage.googleapis.com/v0/b/upload-image-904a9.appspot.com/o/computerstore%2FUntitled-3.png?alt=media&token=f82dd668-b277-4033-8531-d2c0a0a0ab0b') !important;
}

::ng-deep .carousel-control-next-icon{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/upload-image-904a9.appspot.com/o/computerstore%2FUntitled-2.png?alt=media&token=549ec238-fbe3-4c99-9379-28c05b5a6185') !important;
}

.product-title{
    height: 40px;
    overflow: hidden;
}


