<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-spinner mode="indeterminate" style="top: 25%; left: 40%;"></mat-progress-spinner>
</div>
<div class='product-detail-page'>
    <div class='product-detail-icon' *ngIf="product">
        <a href=""><i class="fas fa-home"></i></a>
        <p style="margin-left: 5px;">></p>
        <p style="font-size: 20px;margin-left: 5px;">{{product.product_type_name}}</p>
    </div>
    <hr />
    <div></div>
</div>
<div class='container'>
    <div class='product-detail-main row' *ngIf="product">
        <div class='product-detail-image col-lg-4' style="z-index: 0;">
            <mdb-carousel style="width: 85%;" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'"
                [animation]="'fade'">
                <mdb-carousel-item *ngFor=" let photo of photos">
                    <img style="height: 310px; object-fit: contain;" id="img-item" class="d-block w-100" [src]="photo" alt="First slide">
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
        <div class='col-lg-5 product-description'>
            <h3 style=" color: #000000ef; text-transform: uppercase;font-size: 22px;word-break: break-word;">{{product.product_name}}</h3>
            <hr style="width: 100%;" />
            <span>Mã SP: {{product.product_id}}</span>
            <span>|  Đánh giá: </span>
            <span>
                <ngb-rating [max]="5" [(rate)]="product.rate" [readonly]="true"
                style="color: #fd7e14;font-size: 16px;"></ngb-rating>
            </span>
            <span>|  Bình luận: {{product.countComment}}</span>
            <span>|  Lượt xem : {{product.view}}</span>
            <p *ngFor="let description1 of descriptions"><i class="far fa-check-square"></i>{{[description1]}}</p>
            <div style="background-color: #243a76;text-align: center; height: 65px;margin-top: 6px;">
                <div style="padding-top: 10px;">
                    <h4 style="margin-bottom: 0;">MỚI 100%</h4>
                    <h4>BẢO HÀNH {{product.warranty}} THÁNG</h4>
                </div>
            </div>
            <div class='product-price' style="align-self: flex-end;padding-top: 7px;">
                <span>Giá bán : </span>
                <span class='product-price-new'>{{product.price_display | currency: 'VND'}}</span>
                <del class='product-price-old' [hidden]="product.isCheckPrice">{{product.price | currency: 'VND'
                    }}</del>
                <p [ngStyle]="{'color':check === 'Còn hàng' ? '#2cc067' : '#0074da' }">{{check}}</p>
            </div>
            <div class='product-button'>
                <div>
                    <button [routerLink]="['/cart']" style="margin-right: 6px; background-color: red;"  (click)="addProductToCart()">ĐẶT MUA NGAY</button>
                </div>
                <div>
                    <button style="color: black; outline: none;" (click)="addProductToCart()">CHO VÀO GIỎ</button>
                </div>
            </div>
        </div>
        <div class='product-shop'>
            <div class='product-shop-title'>
                <p id='p'>LƯU Ý KHÔNG BÁN LẺ VGA</p>
                <div class='product-shop-detail'>
                    <p style="margin-top: 5px;"><i class="fas fa-star"></i>Do thiếu nguồn hàng nên TDC không bán lẻ VGA
                    </p>
                </div>
            </div>
            <div class='product-shop-title'>
                <p id='p'>YÊN TÂM MUA SẮM TẠI TDC</p>
                <div class='product-shop-detail'>
                    <p style="margin-top: 5px;"><i class="fas fa-star"></i>Cam kết giá thành tốt nhất khi mua ở TDC</p>
                    <p><i class="fas fa-star"></i>TDC có 3 chi nhánh tại các TP lớn</p>
                    <p><i class="fas fa-star"></i>Bảo hành lỗi 1 đổi 1 trong 30 ngày đầu</p>
                    <p><i class="fas fa-star"></i>Hỗ trợ bảo hành tại nhà</p>
                    <p><i class="fas fa-star"></i>Mua hàng trả góp lãi suất 0%</p>
                </div>
            </div>
            <div class='product-shop-title'>
                <p id='p'>CHÍNH SÁCH GIAO HÀNG</p>
                <div class='product-shop-detail'>
                    <p style="margin-top: 5px;"><i class="fas fa-star"></i>Giao hàng trước trả tiền sau COD toàn quốc
                    </p>
                    <p><i class="fas fa-star"></i>Miễn phí giao hàng nội thành HN & HCM</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #f4f4f4;">
    <div style="padding-top: 30px;width: 74%;">
        <div style="background-color: #fff;">
            <h2 style="padding-top: 10px;padding-left: 18px;">ĐÁNH GIÁ SẢN PHẨM</h2>
            <hr style="width: 58.4rem;">
            <div style="display: -webkit-inline-box;padding-left: 20px;">
                <img style="max-height: 40px;max-width: 40px;" [src]="image_default" alt="">
                <div style="padding-left: 15px;">
                    <textarea name="" id="" placeholder="Nội dung" cols="86" rows="4"
                        [(ngModel)]="comment_content_rate" style="padding: 5px 10px;"></textarea>
                </div>
                <div class="send-comment" style="display: grid;position: relative;bottom: 12px;">
                    <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"
                        style="color: #fd7e14;font-size: 30px;"></ngb-rating>
                    <button (click)="sendComment('','3');">Gửi đánh giá</button>
                </div>
            </div>
        </div>
        <div *ngFor="let comment_rate of list_comment_rate" style="background-color: #fff;padding-bottom: 20px;">
            <div style="display: -webkit-inline-box;padding-left: 20px;">
                <img style="max-height: 40px;max-width: 40px;" [src]="comment_rate.image" alt="">
                <div style="padding-left: 15px;" class="comment-detail">
                    <div style="display: flex;">
                        <p style="font-size: 17px;">{{comment_rate.full_name}}</p>
                        <ngb-rating [max]="5" [(rate)]="comment_rate.rate" [readonly]="true"
                            style="color: #fd7e14;font-size: 20px;position: relative;bottom: 3px;padding-left: 3px;">
                        </ngb-rating>
                    </div>

                    <p style="width: 660px;">{{comment_rate.comment_content}}</p>
                    <div>
                        <p style="color: #999;">({{comment_rate.created_at}})</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #f4f4f4;">
    <div style="padding-top: 30px;width: 74%;">
        <div style="background-color: #fff;">
            <h2 style="padding-top: 10px;padding-left: 18px;">HỎI ĐÁP</h2>
            <hr style="width: 58.4rem;">
            <div style="display: -webkit-inline-box;padding-left: 20px;">
                <img style="max-height: 40px;max-width: 40px;" [src]="image_default" alt="">
                <div style="padding-left: 15px;">
                    <textarea name="" id="" placeholder="Nội dung" cols="86" rows="4" [(ngModel)]="comment_content"
                        style="padding: 5px 10px;"></textarea>
                </div>
                <div class="send-comment">
                    <button (click)="sendComment('','1');" style="width: 125px;">Gửi bình luận</button>
                </div>
            </div>
        </div>
        <div style="background-color: #fff;padding-top: 40px;padding-bottom: 30px;">
            <div *ngFor="let comment of list_comment_noparent |  slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;"
                style="padding-bottom: 10px;">
                <div style="display: -webkit-inline-box;padding-left: 20px;">
                    <img style="max-height: 40px;max-width: 40px;" [src]="comment.image" alt="">
                    <div style="padding-left: 15px;" class="comment-detail">
                        <p style="font-size: 17px;">{{comment.full_name}}</p>
                        <p style="width: 660px;">{{comment.comment_content}}</p>
                        <div>
                            <p style="color: #999;">({{comment.created_at}})</p>
                        </div>
                        <a (click)="showCommentContent(comment.comment_id);" style="color: #20a8d8;cursor: pointer;">Trả
                            lời</a>
                    </div>
                </div>
                <div style="display: -webkit-inline-box;padding-left: 76px;" [hidden]="comment.checkRepComment"
                    *ngIf="checkRepComment">
                    <img style="max-height: 40px;max-width: 40px;" [src]="image_default" alt="">
                    <div style="padding-left: 15px;">
                        <textarea name="" id="" placeholder="Nội dung" cols="70" rows="3"
                            [(ngModel)]="comment_content1"></textarea>
                    </div>
                    <div class="send-comment" style="padding: 20px;">
                        <button (click)="sendComment(comment.comment_id,'2');">Gửi bình luận</button>
                    </div>
                </div>
                <div *ngFor="let comment_parent of list_comment_parent"
                    style="background-color: #edeef2;width: 65.5%;margin-left: 76px;">
                    <div style="display: -webkit-inline-box;padding:8px 10px"
                        *ngIf="comment_parent.parentCommentId === comment.comment_id">
                        <img style="max-height: 40px;max-width: 40px;" [src]="comment_parent.image" alt="">
                        <div style="padding-left: 15px;" class="comment-detail">
                            <p style="font-size: 17px;">{{comment_parent.full_name}}</p>
                            <p style="width: 660px;">{{comment_parent.comment_content}}</p>
                            <div>
                                <p style="color: #999;">({{comment_parent.created_at}})</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 justify-content-center" style="padding-top: 20px;" *ngIf = "check_pagination">
                <ngb-pagination [ellipses]="true" [rotate]="true" [maxSize]="5" [boundaryLinks]="true" [(page)]="page"
                    [pageSize]="pageSize" [collectionSize]="list_comment_noparent.length"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #f4f4f4;">
    <div class="product-bestseller" style="padding-bottom: 20px;padding-top: 30px">
        <div style="background-color: #fff;padding-top: 20px;padding-left: 20px;padding-bottom: 20px;">
            <div class="product-title-container" style="width: 202px; margin-bottom: 20px;" *ngIf="product">
                <h3 style="font-size: 20px;">Cùng thương hiệu</h3>
            </div>
            <div class="product-grid" style="display: flex;width: 100%;" >
                <div class='product-item' style="width: 19.5%" *ngFor="let item of (list_product_trademark | slice:list_product_trademark.length - 5);">
                    <a class="product-item-info">
                      <div class='product-item-detail'>
                        <div class='product-image'>
                          <a [routerLink]="['/',item.product_id]"><img src="{{item.image}}" alt=""></a>
                        </div>
                        <div class='product-description'>
                          <div style="display: flex;justify-content: space-between;padding-right: 15px;">
                            <p>
                              <ngb-rating [max]="5" [(rate)]="item.rate" [readonly]="true"
                                style="color: #fd7e14;font-size: 16px"></ngb-rating>
                            </p>
                            <p>Mã SP: {{item.product_id}}</p>
                          </div>
                          <div class='product-title'>
                            <a [routerLink]="['/',item.product_id]"
                             style="color: #333; text-decoration: none;font-weight: 500;text-transform: uppercase;font-size: 13px;">{{[item.product_name]}}</a>
                          </div>
                        </div>
                        <div style="align-self: flex-end; margin-left: 15px;">
                          <div class='product-price'>
                            <del class='product-price-old' [hidden]="item.isCheckPrice">{{item.price | currency: 'VND'
                              }}</del>
                            <span class='product-price-new'>{{item.price_display| currency: 'VND'}}</span>
                          </div>
                          <div class='product-checked'>
                            <p [ngStyle]="{'color':item.check === 'Còn hàng' ? '#2cc067' : '#0074da' }">{{item.check}}</p>
                            <div style="padding-left: 135px;" [hidden]="item.checkAmount"><button
                                (click)="addProductToCart(item);"><i class="icon-basket"></i></button></div>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a [routerLink]="['/',item.product_id]">
                      <div class="product-item-detail-hover">
                        <div style="height: 240px;overflow:hidden;border:0.5px solid #243a76;">
                          <div
                            style="background: linear-gradient(to right,#243a76,#ed1b24); color: #fff;height: 35px;padding-left: 12px;padding-top: 5px;">
                            <h3 style="font-weight: 500;">Chi tiết</h3>
                          </div>
                          <div style="padding-left: 10px;padding-right:5px">
                            <p style="font-size:18px">- Bảo hành: <span>{{item.warranty}} tháng</span></p>
                            <div style="background: #243a76;color: #fff;border-radius: 4px;width: 50%;margin-top: 10px;">
                              <p style="color: #fff;padding-left:5px">Thông số kĩ thuật</p>
                            </div>
                            <p *ngFor="let description1 of item.descriptions">- {{[description1]}}</p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
        </div>
    </div>
</div>