.profile-img{
    text-align: center;
    width: 100%;
    
      
}

.profile-img img{
    width: 30%;
    height: 100%;
}

.file {
    position: relative;
    overflow: hidden;
    margin-top: -8%;
    margin-left: 35%;
    width: 30%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

 .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.close{
    outline: none;
    height: 40px;
}

.close:hover{
    span{
        color: white;
    }
    background-color: red;
}

.close span {
    position: relative;
    bottom: 8px;
}

#icon-fixed-right{
    width: 51px;
    position: fixed;
    right: 20px;
    top: 240px;
    z-index: 999;
}

#icon-fixed-right a{
    color: #333;
    cursor: pointer;
    display: block;
    margin-top: 5px;
}

#icon-fixed-right a i{
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 99999px;
    font-size: 24px;
    line-height: 50px;
}

.modal-content{
    margin-top: 160px;
}

.modal-title{
    font-weight: 600;
    font-size: 17px;
    padding-left: 22px;
}

.showroom-right-menu{
    padding-left: 0;
}

.showroom-right-menu li{
    display: block;
    position: relative;
    margin-top: 20px;
    padding-left: 60px;
}

.showroom-order {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-style: italic;
    background: #ed1b24;
    color: #fff;
    padding: 10px;
    border-radius: 100%;
    box-sizing: content-box;
    transition: all .3s;
}
.showroom-address {
    margin-bottom: 0;
    font-weight: 700;
}

.showroom-hotline {
    margin-top: 0;
    font-weight: 700;
}


.content-popup{
    padding:20px;
}

.content-popup input{
    height: 40px !important;
}

.khaipv-input , .khaipv-textarea{
    width: 100% !important;
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
    background-color: #fff !important;
    margin:0 0 5px !important;
    padding: 20px 10px !important;
}

.submit-button:hover {
    background: #1a2f67;
    border: 1px solid #1a2f67;
}

.submit-button {
    display: inline-block;
    line-height: 50px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #243a76;
    color: #fff;
    border: 1px solid #243a76;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
    border-radius: 5px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}