<div *ngIf="loaderService.isLoading | async" class="loader-container">
   <mat-progress-spinner mode="indeterminate" style="top: 40%; left: 40%;"></mat-progress-spinner>
</div>
<div class="container">
   <div class="table-responsive">
      <div class="table-wrapper">
         <div class="table-title">
            <div class="row">
               <div class="col-sm-8">
                  <h2 style="font-size:30px;">Nhà cung cấp</h2>
               </div>
               <div class="col-sm-4">
                  <div class="search-box">
                     <i class="fa fa-search" aria-hidden="true"></i>
                     <input type="text" (keyup)="filterByKeyword()" [(ngModel)]="searchedKeyword" class="form-control"
                        placeholder="Search&hellip;">
                  </div>
               </div>
               <button (click)="initModal({},'add')" type="button" class="btn btn-primary"
                  style="margin-left: 17px;margin-top: 8px;"><i class="fa fa-plus" style="margin-right: 12px;"></i>Thêm
                  mới</button>
               <button type="button" [hidden]="isDelete" (click)="open(mymodal1)" class="btn btn-danger"
                  style="height: 35px; margin-top: 7px;">
                  <i class="fa fa-window-close" aria-hidden="true"></i> Xóa
               </button>
               <ng-template #mymodal1 let-modal>
                  <div class="modal-header">
                     <h4 class="modal-title" id="modal-basic-title">
                        Xác nhận xóa thông tin
                     </h4>
                     <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">x</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     Bạn có chắc chắn muốn xóa thông tin những nhà cung cấp này ?
                  </div>
                  <div class="modal-footer">
                     <button class="btn btn-danger" style="width: 80px" (click)="deleteSupplier()">
                        Có
                     </button>
                     <button class="btn btn-outline-dark" style="width: 80px" (click)="modal.dismiss('Cross click')">
                        Không
                     </button>
                  </div>
               </ng-template>
               &nbsp;
               &nbsp;
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <table class="table table-striped table-hover table-bordered ">
                  <thead>
                     <tr>
                        <th scope="col">
                           <input type="checkbox" [checked]="isAllCheckBoxChecked()"
                              (change)="checkAllCheckBox($event)" />
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Hotline</th>
                        <th>Thao tác</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                     </tr>
                     <tr *ngFor="
                        let e of listFilterResult  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;
                        let i = index
                        ">
                        <td>
                           <input type="checkbox" [(ngModel)]="listFilterResult[i + (page-1)*pageSize].checked"
                              (ngModelChange)="changeModel()" value="{{ e.supplier_id }}" />
                        <td>{{ i + (page-1)*pageSize + 1 }}</td>
                        <td [innerHTML]="e.supplier_name "></td>
                        <td [innerHTML]="e.hotline "></td>
                        <td>
                           <ng-template #mymodal let-modal>
                              <div class="modal-header">
                                 <h4 class="modal-title" id="modal-basic-title">
                                    Xác nhận xóa thông tin
                                 </h4>
                                 <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">x</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 Bạn có chắc chắn muốn xóa thông tin nhà cung cấp {{ e.supplier_name }} ?
                              </div>
                              <div class="modal-footer">
                                 <button class="btn btn-danger" style="width: 80px"
                                    (click)="deleteSupplier(e.supplier_id)">
                                    Có
                                 </button>
                                 <button class="btn btn-outline-dark" style="width: 80px"
                                    (click)="modal.dismiss('Cross click')">
                                    Không
                                 </button>
                              </div>
                           </ng-template>
                           <div class="row justify-content-center">
                              <button (click)="initModal(e,'show')" class="btn btn-info" title="View"><i
                                    class="fa fa-info-circle" aria-hidden="true"></i></button>
                              <button (click)="initModal(e,'edit')" class="btn btn-warning" title="Edit"><i
                                    class="fas fa-edit edit" aria-hidden="true"></i></button>
                              <button class="btn btn-danger" (click)="open(mymodal)" title="Delete"
                                 data-toggle="tooltip"><i class="fa fa-trash" aria-hidden="true"></i></button>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="col-12 justify-content-center">
               <ngb-pagination [ellipses]="true" [rotate]="true" [maxSize]="5" [boundaryLinks]="true" [(page)]="page"
                  [pageSize]="pageSize" [collectionSize]="listFilterResult.length"></ngb-pagination>
            </div>
         </div>
      </div>
   </div>
</div>
<app-update-supplier [arraylist_supplier]="arraylist_supplier" (eventEmit)="ngOnInit()"></app-update-supplier>