<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">{{ title }}</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" novalidate (ngSubmit)="save()">


      <div class="form-group">
        <label>Tên sản phẩm</label>
        <select class="form-control" name="" formControlName="product_id" id="">
          <option *ngFor="let e of arraylist_product" value="{{e.product_id}}">{{e.product_name}}</option>
        </select>
        <div *ngIf="submitted && formGroup.controls['product_id'].errors?.required">
          <div *ngIf="formGroup.controls['product_id'].errors?.required" style="color: red">
            * Tên sản phẩm không được để trống
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Hình ảnh</label>
        <div class="profile-img">
          <img [src]="urlPictureDefault" alt="Ảnh đại diện" />
        </div>
        <div [hidden]="isInfo"  id="profile-input" class="file btn btn-lg btn-primary">
          Change Photo
          <input type="file" formControlName="image" (change)="uploadImage($event)" name="file" />
        </div>
        <div *ngIf="submitted && formGroup.controls['image'].errors?.required">
          <div *ngIf="formGroup.controls['image'].errors?.required" style="color: red">
            * Hình ảnh sản phẩm không được để trống
          </div>
        </div>
      </div>



      <div class="form-group" align="center">
        <button [hidden]="checkButton" type="submit" class="btn btn-success"
          style="width: 100px;height:38px; background:'green';" *ngIf="isEdit || isAdd">
          Lưu
        </button>
        <button type="button" class="btn btn-danger" style="width: 100px" (click)="modal.dismiss('Cross click')">
          Thoát
        </button>
      </div>

    </form>
  </div>
</ng-template>