span{
    display: block;
    padding: 1rem 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.2rem;
}

button{
    width: 350px;
    height: 35px;
    border: 0;
    border-radius: 3px;
    background-color: #243a76;
    outline: none;
}

.customer-changepass{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.changepass-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.changepass-field{
    width: 140px;
}

.changepass-value{
    width: 855px;
}

.changepass-value input{
    display: inline-block;
    width: 350px;
    height: 40px;
    border-radius: 4px;
    padding: 0 8px;
    border: 1px solid #ddd;
}