<div style="background-color: #f4f4f4;">
    <div class="row">
        <div class="account-left">
            <div class="account-customer">
                <div style="text-align: center;">
                    <div>
                        <img [src]="picture" alt="">
                    </div>
                    <div id="profile-input" class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" (ngModel)="image" (change)="uploadImage($event)" name="file" />
                    </div>
                </div>

                <div class="info">
                    <span>Tài khoản của</span>
                    <span style="font-size: 1.2rem;font-weight: 600;">{{name}}</span>
                </div>
            </div>
            <div id="account-list-page">
                <a href="/#/account/account-info" class="link active">
                    <i class="fas fa-user"></i>
                    <span>Thông tin tài khoản</span>
                </a>
                <a href="/#/account/order" class="link">
                    <i class="fas fa-list-ul"></i>
                    <span>Quản lý đơn hàng</span>
                </a>
                <a href="/#/account/change-password" class="link">
                    <i class="fas fa-lock"></i>
                    <span>Thay đổi mật khẩu</span>
                </a>
                <a href="" class="link" (click)="onLogout();">
                    <i class="fas fa-power-off"></i>
                    <span>Đăng xuất tài khoản</span>
                </a>

            </div>
        </div>
        <div class="account-right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>