.loader-container{
    position: absolute;
    height: 100%;
    width: 81%;
    opacity: 0.8;
    z-index: 99999;
}

.close{
    outline: none;
    height: 40px;
}

.close:hover{
    span{
        color: white;
    }
    background-color: red;
}

.close span {
    position: relative;
    bottom: 8px;
}