.header-top{
    background-color: #ffee00ef;
    color:black;
    height: 45px;
}

.header-toolbar{
    width: 100%;
    padding-left: 413px;
    padding-top: 10px;
    max-width: 1420px;
}


span{
    font-size: 18px;
    color: black;
}

a{
    padding-left: 20px;
    text-decoration: none;
}

.header-main{
    background-color:white;
    height: 120px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.header-main-center{
    margin-top: 13px;
    margin-left: 55px;
}

.header-main-center-scoll{
    background-color: #ffee00ef;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 888;
    
}

.header-main-scoll{
    display: inline-flex;

}
.header-main-center img{
    width: 275px;
}

.header-main-logo-img{
    width: 40%;
}

.header-main div{
    display: inline-block;
}

.header-main-search input{
    background-color: #f1ecec;
    width: 600px;
    height: 40px;
    border:  0.5px solid white;
    border-radius: 10px;
}
.header-main-search button{
    background-color: #ffee00ef;
    position: relative;
    right: 15px;
    height: 38.42px;
    bottom: 0.126px;
    width: 50px;
    border:  0.5px solid #ffee00ef;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.header-i{
    height: 10px;
    width: 30px;
    font-size: 20px;
}



.header-item{
    height: 40px;
    display: grid;
}

.header-item i{
    
    text-align: center;
    font-size: 25px;
}

.header-item1{
    display: grid;
    height: 30px;
}

.header-item1 i{
    text-align: center;
    font-size: 22px;
    padding-left:10px;
    padding-right: 55px;
}




#header-hide{
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    display: inline-grid;
    transform: translate(146px,53px);
    position: absolute;
    width: 200px;
    max-height: 480px;
    margin-right: 0px;
    left:0px;
    box-shadow:rgb(0 0 0 / 18%) 0 6px 12px 0;
    margin-left: 0px;
    transition: 0.6s;
}

#header-hide::before{
    position: absolute;
    pointer-events: none;
    content: " ";
    width: 0;
    height: 0;
    bottom: 97%;
    left: 50%;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent #f9f9f9;
    border-image: initial;
}

#header-hide a{
    border-top: 1px solid #ddd;
    outline: none;
    text-decoration: none;
    color: black;
    background-color: #f9f9f9;
    height: 30px;
}

#header-hide1{
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    display: inline-grid;
    transform: translate(150px,-5px);
    box-shadow:rgb(0 0 0 / 18%) 0 6px 12px 0;
    position: absolute;
    width: 200px;
    max-height: 480px;
    margin-right: 0px;
    left:0px;
    margin-left: 0px;
    transition: 0.6s;
}

#header-hide1::before{
    position: absolute;
    pointer-events: none;
    content: " ";
    width: 0;
    height: 0;
    bottom: 97%;
    left: 48%;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent #f9f9f9;
    border-image: initial;
}

#header-hide1 a{
    border-top: 1px solid #ddd;
    outline: none;
    text-decoration: none;
    color: black;
    background-color: #f9f9f9;
    height: 30px;
}


// #header-basket{
//     position: relative;
//     z-index: 1;
// }


// #header-basket:hover +  #header-hide{
//     display: block;
//     transition: 0.6s;
   
// }

.header-bottom{
    background-color: #ffee00ef;
    height: 50px;
}

.header-bottom a{
    position: relative;
    top: 30%;
    margin-right: 9.6px;
    margin-left: 80px;
}


.autocomplete-suggestions{
    width: 645px;
    position: absolute;
    display: none;
    overflow: auto;
    z-index: 999;
    background-color: #fff;
    max-height: 300px;
}

.autocomplete-suggestions img{
    height: 65px;
    width: 65px;
}

.autocomplete-suggestions a{
    display: block;
}