.loader-container{
    position: absolute;
    height: 100%;
    width: 81%;
    background: #fff;
    opacity: 0.8;
    z-index: 99999;
}

.info-customer td{
    border:none;
    border-bottom: solid 1px #eee;
    padding:8px 5px;
}

.signature{
    width: 285px;
    text-align: center;
}

.signature h4{
    margin-bottom: 0px;
}

.button-select button{
    border:0;
    outline: none;
    border-radius: 3px;
    width: 190px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 40px;
}