.loader-container{
    position: absolute;
    height: 100%;
    width: 81%;
    background: #fff;
    opacity: 0.85;
    z-index: 99999;
}

.order_status{
    height: 30px;
    padding: 5px;
    text-align: center;
    width: 85%;
    color: white;
    border-radius: 20px;
}

.close{
    outline: none;
    height: 40px;
}

.close:hover{
    span{
        color: white;
    }
    background-color: red;
}

.close span {
    position: relative;
    bottom: 8px;
}

.in-order{
    background-color: #243a76;
    display: block;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
}