<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto" style="padding-top: 150px;">
                    <div class="card-group" style="height: 490px;">
                        <div class="card p-4">
                            <div class="card-body">
                                <h1>Quên mật khẩu</h1>
                                <p class="text-muted">Vui lòng cung cấp email đăng nhập để lấy lại mật khẩu</p>
                                <form [formGroup]="formForgotPassword">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" formControlName="email"
                                            placeholder="Email" required />
                                    </div>
                                    <div *ngIf="formForgotPassword.controls['email'].errors?.pattern">
                                        <div *ngIf="formForgotPassword.controls['email'].errors?.pattern"
                                            style="color: red">
                                            *Vui lòng nhập đúng định dạng email
                                        </div>
                                    </div>
                                </form>
                                <div class="col-6  mx-auto" style="padding-top: 10px;">
                                    <button type="button" (click)="SendEmail();" class="btn btn-primary px-4">Lấy lại
                                        mật
                                        khẩu</button>
                                </div>
                                <div style="height: 165px;padding-top: 30px;">
                                    <div [hidden]="checkCode">
                                        <p class="text-muted">Nhập mã xác nhận được gửi tới email của bạn</p>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" [(ngModel)]="code"
                                                placeholder="Nhập mã xác nhận" required />
                                        </div>
                                        <div class="col-6  mx-auto" style="text-align: center;">
                                            <button type="button" (click)="acceptCode()"
                                                class="btn btn-primary px-4">Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button type="button" [routerLink]="'/login'"
                                            class="btn btn-link px-0">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>