.loader-container{
    position: absolute;
    height: 100%;
    width: 87%;
    opacity: 0.85;
    z-index: 99999;
}

hr{
    border : 1px solid #243a76;
    background-color: #243a76;
    width: 99.9%;
    margin-top: -2px;
}

.main-slider-left{
    padding-left: 0px;
    padding-right: 0px;
}

.main-slider-left ul{
    list-style: none;
    padding-left: 0px;
    display: grid;
}

.main-slider-left ul a{
    font-size: 17px;
    border: 1px solid #ddd;
    height: 30.78px;
    color: black;
    
}

.main-slider-left ul a:hover{
    background-color: #243a76;
    color: white;
    text-decoration: none
}


.picsum-img-wrapper{
    overflow: hidden; 
}

.picsum-img-wrapper img{
    transition: transform .5s ease;
}

.picsum-img-wrapper:hover img{
    transform: scale(1.25);
}

.main-slider-right{
    padding: 0px;
}

.main-slider-right img{
    height: 215px;
    width: 329px;
}

.banner-duoi-slider{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.banner-duoi-slider img{
    height: 165px;
    width: 100%;
    margin-right: 5px;
}

.picsum-img-banner{
    overflow: hidden;
    margin-right: 5px;
}

.picsum-img-banner img{
    transition: transform .5s ease;
}

.picsum-img-banner:hover img{
    transform: scale(1.25);
}

.product-bestseller{
    margin-left: -15px;
    margin-top: 30px;
}

.product-tilte{
    display: -webkit-inline-box;
    width: 97.5%;
}

.product-tilte a{
    // position: relative;
    // left: 845px;
    // top: 10px;
    font-size: 17px;
}

.product-title-container{
    padding : 9px;
    height: 45px;
    background-color: #243a76;
    width: 325px;
    color: white;
}

.product-image img{
    width: 259px;
    height: 250px;
    object-fit: contain;
}

.product-title-container h3{
    font-size: 25px;
}

.product-title-container h3::after{
    content: '';
    position: relative;
    left: 36px;
    bottom: 38px;
    border-bottom: 44px solid #243a76;
    border-right: 50px solid #00000000;
}

// .product-news h5,p{
//     margin-right: 15px;
//     margin-left: 15px;
//     text-align: center;
// }

.product-grid{
    display: flex;
    width: 100%;
  
}

.product-item{
    border: 1px solid #ddd;
    width: 20%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 400px;
}

.product-description{
    margin-left: 15px;
}

.product-price-new{
    font-size: 22px;
    color: red;
}

.product-checked{
    display: -webkit-inline-box;
}
.product-checked p{
    text-align: inherit;
    margin-left: 0px;
}

.product-checked button{
    outline: none;
    border: 0;
    background-color: #fff;
    font-size: 20px;
    position: relative;
    bottom: 5px;
}

.product-item-detail{
    display: grid;
    height: 100%;
}

.product-item-detail-hover{
    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        height: 250px;
        width: 100%;
        transition: .5s ease;
        background-color:#fff;
        z-index: 98;
}

.product-item-info{
    color: #333;
}

.product-item-detail-hover p{
    margin: 0;
    color: #333;
}

.product-item a:hover  .product-item-detail-hover{
    opacity: 1;
    z-index: 99;
    cursor: pointer;
    
}

::ng-deep .owl-nav{
    height: 0;
    position: relative ;
    bottom: 230px;
}
::ng-deep .owl-item{
    height: 400px !important;
}

::ng-deep .owl-next i:hover{
    color: #ed1b24;
}

::ng-deep .owl-prev i:hover{
    color: #ed1b24;
}

::ng-deep .owl-prev{
    position: relative;
    background: none !important;
    color: #d6d6d6 !important;
    font-size: 30px !important;
    right: 615px;

}

::ng-deep .owl-next{
    position: relative;
    background: none !important;
    color: #d6d6d6 !important;
    font-size: 30px !important;
    left: 625px;

}