<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-progress-spinner mode="indeterminate" style="top: 40%; left: 40%;"></mat-progress-spinner>
</div>
<div class='container'>
  <div class='row main-slider'>
    <div class='main-slider-left col-lg-2'>
      <ul>
        <a *ngFor="let item of list_product_type | slice:0:14;"
          [routerLink]="['/product-type/',item.product_type_id]">{{item.product_type_name}} {{item.description}}</a>
      </ul>
    </div>
    <div class='col-lg-7'>
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[3]" alt="Random four slide">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class='main-slider-right '>
      <div class='picsum-img-wrapper'>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/upload-image-904a9.appspot.com/o/computerstore%2Flaptop-gaming.jpg?alt=media&token=133a9b9e-04bc-400c-9bb5-3b9b2dfa2a15"
          alt="">
      </div>
      <div class='picsum-img-wrapper'>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/upload-image-904a9.appspot.com/o/computerstore%2Ftop-mouse.jpg?alt=media&token=26bafe1f-808b-414b-a12e-47f6eb6e89d5"
          alt="">
      </div>
    </div>
  </div>
  <div class="banner-duoi-slider">
    <div class='picsum-img-banner'>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/upload-image-904a9.appspot.com/o/computerstore%2Fpc-1.png?alt=media&token=4385752f-2ebe-44cf-bfba-5af1b988a5a0"
        alt="">
    </div>
    <div class='picsum-img-banner'>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/upload-image-904a9.appspot.com/o/computerstore%2Fpc-2.png?alt=media&token=49c9cc5d-ba7a-454c-9b1c-723353457486"
        alt="">
    </div>
    <div class='picsum-img-banner'>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/upload-image-904a9.appspot.com/o/computerstore%2Fghe-gaming-1.png?alt=media&token=b3e7b9a4-eb85-44e9-82ce-d2b22c2f315a"
        alt="">
    </div>
    <div class='picsum-img-banner' style="margin-right: 0;">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/upload-image-904a9.appspot.com/o/computerstore%2Ftragop.png?alt=media&token=80955a56-aa60-4f66-b7bf-efba21f7eecd"
        alt="">
    </div>
  </div>
  <div class="product-bestseller">
    <div class="product-tilte">
      <div class="product-title-container" style="width: 321px;">
        <h3>SẢN PHẨM MỚI RA MẮT</h3>
      </div>
      <!-- <div style="width: 74.4%;text-align: right;margin-top: 10px;">
        <a href="">Xem thêm <i class="fas fa-angle-right"></i></a>
      </div> -->
    </div>
    <hr />
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of (list_product_new | slice:list_product_new.length-10)">
          <ng-template carouselSlide [id]="item.product_id" style="display: flex; height: 100%;">
            <div class='product-item' style="width: 100%;">
              <a class="product-item-info">
                <div class='product-item-detail'>
                  <div class='product-image'>
                    <a [routerLink]="['/',item.product_id]"><img src="{{item.image}}" alt=""></a>
                  </div>
                  <div class='product-description'>
                    <div style="display: flex;justify-content: space-between;padding-right: 15px;">
                      <p>
                        <ngb-rating [max]="5" [(rate)]="item.rate" [readonly]="true"
                          style="color: #fd7e14;font-size: 16px"></ngb-rating>
                      </p>
                      <p>Mã SP: {{item.product_id}}</p>
                    </div>
                    <div class='product-title'>
                      <a [routerLink]="['/',item.product_id]"
                        style="color: #333; text-decoration: none;font-weight: 600;">{{[item.product_name]}}</a>
                    </div>
                  </div>
                  <div style="align-self: flex-end; margin-left: 15px;">
                    <div class='product-price'>
                      <del class='product-price-old' [hidden]="item.isCheckPrice">{{item.price | currency: 'VND'
                        }}</del>
                      <span class='product-price-new'>{{item.price_display| currency: 'VND'}}</span>
                    </div>
                    <div class='product-checked'>
                      <p [ngStyle]="{'color':item.check === 'Còn hàng' ? '#2cc067' : '#0074da' }">{{item.check}}</p>
                      <div style="padding-left: 135px;" [hidden]="item.checkAmount"><button
                          (click)="addProductToCart(item);"><i class="icon-basket"></i></button></div>
                    </div>
                  </div>
                </div>
              </a>
              <a [routerLink]="['/',item.product_id]">
                <div class="product-item-detail-hover">
                  <div style="height: 240px;overflow:hidden;border:0.5px solid #243a76;">
                    <div
                      style="background: linear-gradient(to right,#243a76,#ed1b24); color: #fff;height: 35px;padding-left: 12px;padding-top: 5px;">
                      <h3 style="font-weight: 500;">Chi tiết</h3>
                    </div>
                    <div style="padding-left: 10px;padding-right:5px">
                      <p style="font-size:18px">- Bảo hành: <span>{{item.warranty}} tháng</span></p>
                      <div style="background: #243a76;color: #fff;border-radius: 4px;width: 50%;margin-top: 10px;">
                        <p style="color: #fff;padding-left:5px">Thông số kĩ thuật</p>
                      </div>
                      <p *ngFor="let description1 of item.descriptions">- {{[description1]}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <div class="product-bestseller">
    <div class="product-tilte">
      <div class="product-title-container" style="width: 394px;">
        <h3>LAPTOP - MÁY TÍNH SÁCH TAY</h3>
      </div>
      <div style="width: 71.5%;text-align: right;margin-top: 10px;">
        <a [routerLink]="['product-type/','3']">Xem thêm <i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <hr />
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of list_product_laptop">
          <ng-template carouselSlide [id]="item.product_id" style="display: flex; height: 100%;">
            <div class='product-item' style="width: 100%;">
              <a class="product-item-info">
                <div class='product-item-detail'>
                  <div class='product-image'>
                    <a [routerLink]="['/',item.product_id]"><img src="{{item.image}}" alt=""></a>
                  </div>
                  <div class='product-description'>
                    <div style="display: flex;justify-content: space-between;padding-right: 15px;">
                      <p>
                        <ngb-rating [max]="5" [(rate)]="item.rate" [readonly]="true"
                          style="color: #fd7e14;font-size: 16px"></ngb-rating>
                      </p>
                      <p>Mã SP: {{item.product_id}}</p>
                    </div>
                    <div class='product-title'>
                      <a [routerLink]="['/',item.product_id]"
                        style="color: #333; text-decoration: none;font-weight: 600;">{{[item.product_name]}}</a>
                    </div>
                  </div>
                  <div style="align-self: flex-end; margin-left: 15px;">
                    <div class='product-price'>
                      <del class='product-price-old' [hidden]="item.isCheckPrice">{{item.price | currency: 'VND'
                        }}</del>
                      <span class='product-price-new'>{{item.price_display| currency: 'VND'}}</span>
                    </div>
                    <div class='product-checked'>
                      <p [ngStyle]="{'color':item.check === 'Còn hàng' ? '#2cc067' : '#0074da' }">{{item.check}}</p>
                      <div style="padding-left: 135px;" [hidden]="item.checkAmount"><button
                          (click)="addProductToCart(item);"><i class="icon-basket"></i></button></div>
                    </div>
                  </div>
                </div>
              </a>
              <a [routerLink]="['/',item.product_id]">
                <div class="product-item-detail-hover">
                  <div style="height: 240px;overflow:hidden;border:0.5px solid #243a76;">
                    <div
                      style="background: linear-gradient(to right,#243a76,#ed1b24); color: #fff;height: 35px;padding-left: 12px;padding-top: 5px;">
                      <h3 style="font-weight: 500;">Chi tiết</h3>
                    </div>
                    <div style="padding-left: 10px;padding-right:5px">
                      <p style="font-size:18px">- Bảo hành: <span>{{item.warranty}} tháng</span></p>
                      <div style="background: #243a76;color: #fff;border-radius: 4px;width: 50%;margin-top: 10px;">
                        <p style="color: #fff;padding-left:5px">Thông số kĩ thuật</p>
                      </div>
                      <p *ngFor="let description1 of item.descriptions">- {{[description1]}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <div class="product-bestseller">
    <div class="product-tilte">
      <div class="product-title-container" style="width: 295px;">
        <h3>MAIN - BO MẠCH CHỦ</h3>
      </div>
      <div style="width: 79.4%;text-align: right;margin-top: 10px;">
        <a [routerLink]="['product-type/','9']">Xem thêm <i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <hr />
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of list_product_main">
          <ng-template carouselSlide [id]="item.product_id" style="display: flex; height: 100%;">
            <div class='product-item' style="width: 100%;">
              <a class="product-item-info">
                <div class='product-item-detail'>
                  <div class='product-image'>
                    <a [routerLink]="['/',item.product_id]"><img src="{{item.image}}" alt=""></a>
                  </div>
                  <div class='product-description'>
                    <div style="display: flex;justify-content: space-between;padding-right: 15px;">
                      <p>
                        <ngb-rating [max]="5" [(rate)]="item.rate" [readonly]="true"
                          style="color: #fd7e14;font-size: 16px"></ngb-rating>
                      </p>
                      <p>Mã SP: {{item.product_id}}</p>
                    </div>
                    <div class='product-title'>
                      <a [routerLink]="['/',item.product_id]"
                        style="color: #333; text-decoration: none;font-weight: 600;">{{[item.product_name]}}</a>
                    </div>
                  </div>
                  <div style="align-self: flex-end; margin-left: 15px;">
                    <div class='product-price'>
                      <del class='product-price-old' [hidden]="item.isCheckPrice">{{item.price | currency: 'VND'
                        }}</del>
                      <span class='product-price-new'>{{item.price_display| currency: 'VND'}}</span>
                    </div>
                    <div class='product-checked'>
                      <p [ngStyle]="{'color':item.check === 'Còn hàng' ? '#2cc067' : '#0074da' }">{{item.check}}</p>
                      <div style="padding-left: 135px;" [hidden]="item.checkAmount"><button
                          (click)="addProductToCart(item);"><i class="icon-basket"></i></button></div>
                    </div>
                  </div>
                </div>
              </a>
              <a [routerLink]="['/',item.product_id]">
                <div class="product-item-detail-hover">
                  <div style="height: 240px;overflow:hidden;border:0.5px solid #243a76;">
                    <div
                      style="background: linear-gradient(to right,#243a76,#ed1b24); color: #fff;height: 35px;padding-left: 12px;padding-top: 5px;">
                      <h3 style="font-weight: 500;">Chi tiết</h3>
                    </div>
                    <div style="padding-left: 10px;padding-right:5px">
                      <p style="font-size:18px">- Bảo hành: <span>{{item.warranty}} tháng</span></p>
                      <div style="background: #243a76;color: #fff;border-radius: 4px;width: 50%;margin-top: 10px;">
                        <p style="color: #fff;padding-left:5px">Thông số kĩ thuật</p>
                      </div>
                      <p *ngFor="let description1 of item.descriptions">- {{[description1]}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <div class="product-bestseller">
    <div class="product-tilte">
      <div class="product-title-container" style="width: 298px;">
        <h3>RAM - BỘ NHỚ TRONG</h3>
      </div>
      <div style="width: 79.1%;text-align: right;margin-top: 10px;">
        <a [routerLink]="['product-type/','1']">Xem thêm <i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <hr />
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of list_product_ram">
          <ng-template carouselSlide [id]="item.product_id" style="display: flex; height: 100%;">
            <div class='product-item' style="width: 100%;">
              <a class="product-item-info">
                <div class='product-item-detail'>
                  <div class='product-image'>
                    <a [routerLink]="['/',item.product_id]"><img src="{{item.image}}" alt=""></a>
                  </div>
                  <div class='product-description'>
                    <div style="display: flex;justify-content: space-between;padding-right: 15px;">
                      <p>
                        <ngb-rating [max]="5" [(rate)]="item.rate" [readonly]="true"
                          style="color: #fd7e14;font-size: 16px"></ngb-rating>
                      </p>
                      <p>Mã SP: {{item.product_id}}</p>
                    </div>
                    <div class='product-title'>
                      <a [routerLink]="['/',item.product_id]"
                        style="color: #333; text-decoration: none;font-weight: 600;">{{[item.product_name]}}</a>
                    </div>
                  </div>
                  <div style="align-self: flex-end; margin-left: 15px;">
                    <div class='product-price'>
                      <del class='product-price-old' [hidden]="item.isCheckPrice">{{item.price | currency: 'VND'
                        }}</del>
                      <span class='product-price-new'>{{item.price_display| currency: 'VND'}}</span>
                    </div>
                    <div class='product-checked'>
                      <p [ngStyle]="{'color':item.check === 'Còn hàng' ? '#2cc067' : '#0074da' }">{{item.check}}</p>
                      <div style="padding-left: 135px;" [hidden]="item.checkAmount"><button
                          (click)="addProductToCart(item);"><i class="icon-basket"></i></button></div>
                    </div>
                  </div>
                </div>
              </a>
              <a [routerLink]="['/',item.product_id]">
                <div class="product-item-detail-hover">
                  <div style="height: 240px;overflow:hidden;border:0.5px solid #243a76;">
                    <div
                      style="background: linear-gradient(to right,#243a76,#ed1b24); color: #fff;height: 35px;padding-left: 12px;padding-top: 5px;">
                      <h3 style="font-weight: 500;">Chi tiết</h3>
                    </div>
                    <div style="padding-left: 10px;padding-right:5px">
                      <p style="font-size:18px">- Bảo hành: <span>{{item.warranty}} tháng</span></p>
                      <div style="background: #243a76;color: #fff;border-radius: 4px;width: 50%;margin-top: 10px;">
                        <p style="color: #fff;padding-left:5px">Thông số kĩ thuật</p>
                      </div>
                      <p *ngFor="let description1 of item.descriptions">- {{[description1]}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <div class="product-bestseller">
    <div class="product-tilte">
      <div class="product-title-container" style="width: 249px;">
        <h3>VGA - Card đồ họa</h3>
      </div>
      <div style="width: 83%;text-align: right;margin-top: 10px;">
        <a [routerLink]="['product-type/','10']">Xem thêm <i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <hr />
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of list_product_vga">
          <ng-template carouselSlide [id]="item.product_id" style="display: flex; height: 100%;">
            <div class='product-item' style="width: 100%;">
              <a class="product-item-info">
                <div class='product-item-detail'>
                  <div class='product-image'>
                    <a [routerLink]="['/',item.product_id]"><img src="{{item.image}}" alt=""></a>
                  </div>
                  <div class='product-description'>
                    <div style="display: flex;justify-content: space-between;padding-right: 15px;">
                      <p>
                        <ngb-rating [max]="5" [(rate)]="item.rate" [readonly]="true"
                          style="color: #fd7e14;font-size: 16px"></ngb-rating>
                      </p>
                      <p>Mã SP: {{item.product_id}}</p>
                    </div>
                    <div class='product-title'>
                      <a [routerLink]="['/',item.product_id]"
                        style="color: #333; text-decoration: none;font-weight: 600;">{{[item.product_name]}}</a>
                    </div>
                  </div>
                  <div style="align-self: flex-end; margin-left: 15px;">
                    <div class='product-price'>
                      <del class='product-price-old' [hidden]="item.isCheckPrice">{{item.price | currency: 'VND'
                        }}</del>
                      <span class='product-price-new'>{{item.price_display| currency: 'VND'}}</span>
                    </div>
                    <div class='product-checked'>
                      <p [ngStyle]="{'color':item.check === 'Còn hàng' ? '#2cc067' : '#0074da' }">{{item.check}}</p>
                      <div style="padding-left: 135px;" [hidden]="item.checkAmount"><button
                          (click)="addProductToCart(item);"><i class="icon-basket"></i></button></div>
                    </div>
                  </div>
                </div>
              </a>
              <a [routerLink]="['/',item.product_id]">
                <div class="product-item-detail-hover">
                  <div style="height: 240px;overflow:hidden;border:0.5px solid #243a76;">
                    <div
                      style="background: linear-gradient(to right,#243a76,#ed1b24); color: #fff;height: 35px;padding-left: 12px;padding-top: 5px;">
                      <h3 style="font-weight: 500;">Chi tiết</h3>
                    </div>
                    <div style="padding-left: 10px;padding-right:5px">
                      <p style="font-size:18px">- Bảo hành: <span>{{item.warranty}} tháng</span></p>
                      <div style="background: #243a76;color: #fff;border-radius: 4px;width: 50%;margin-top: 10px;">
                        <p style="color: #fff;padding-left:5px">Thông số kĩ thuật</p>
                      </div>
                      <p *ngFor="let description1 of item.descriptions">- {{[description1]}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <div class="product-bestseller">
    <div class="product-tilte">
      <div class="product-title-container" style="width: 286px;">
        <h3>PSU - Nguồn máy tính</h3>
      </div>
      <div style="width: 80%;text-align: right;margin-top: 10px;">
        <a [routerLink]="['product-type/','11']">Xem thêm <i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <hr />
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of list_product_psu">
          <ng-template carouselSlide [id]="item.product_id" style="display: flex; height: 100%;">
            <div class='product-item' style="width: 100%;">
              <a class="product-item-info">
                <div class='product-item-detail'>
                  <div class='product-image'>
                    <a [routerLink]="['/',item.product_id]"><img src="{{item.image}}" alt=""></a>
                  </div>
                  <div class='product-description'>
                    <div style="display: flex;justify-content: space-between;padding-right: 15px;">
                      <p>
                        <ngb-rating [max]="5" [(rate)]="item.rate" [readonly]="true"
                          style="color: #fd7e14;font-size: 16px"></ngb-rating>
                      </p>
                      <p>Mã SP: {{item.product_id}}</p>
                    </div>
                    <div class='product-title'>
                      <a [routerLink]="['/',item.product_id]"
                        style="color: #333; text-decoration: none;font-weight: 600;">{{[item.product_name]}}</a>
                    </div>
                  </div>
                  <div style="align-self: flex-end; margin-left: 15px;">
                    <div class='product-price'>
                      <del class='product-price-old' [hidden]="item.isCheckPrice">{{item.price | currency: 'VND'
                        }}</del>
                      <span class='product-price-new'>{{item.price_display| currency: 'VND'}}</span>
                    </div>
                    <div class='product-checked'>
                      <p [ngStyle]="{'color':item.check === 'Còn hàng' ? '#2cc067' : '#0074da' }">{{item.check}}</p>
                      <div style="padding-left: 135px;" [hidden]="item.checkAmount"><button
                          (click)="addProductToCart(item);"><i class="icon-basket"></i></button></div>
                    </div>
                  </div>
                </div>
              </a>
              <a [routerLink]="['/',item.product_id]">
                <div class="product-item-detail-hover">
                  <div style="height: 240px;overflow:hidden;border:0.5px solid #243a76;">
                    <div
                      style="background: linear-gradient(to right,#243a76,#ed1b24); color: #fff;height: 35px;padding-left: 12px;padding-top: 5px;">
                      <h3 style="font-weight: 500;">Chi tiết</h3>
                    </div>
                    <div style="padding-left: 10px;padding-right:5px">
                      <p style="font-size:18px">- Bảo hành: <span>{{item.warranty}} tháng</span></p>
                      <div style="background: #243a76;color: #fff;border-radius: 4px;width: 50%;margin-top: 10px;">
                        <p style="color: #fff;padding-left:5px">Thông số kĩ thuật</p>
                      </div>
                      <p *ngFor="let description1 of item.descriptions">- {{[description1]}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <div class="product-bestseller">
    <div class="product-tilte">
      <div class="product-title-container" style="width: 225px;">
        <h3>CPU - Bộ vi xử lý</h3>
      </div>
      <div style="width: 84.7%;text-align: right;margin-top: 10px;">
        <a [routerLink]="['product-type/','8']">Xem thêm <i class="fas fa-angle-right"></i></a>
      </div>
    </div>
    <hr />
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of list_product_cpu">
          <ng-template carouselSlide [id]="item.product_id" style="display: flex; height: 100%;">
            <div class='product-item' style="width: 100%;">
              <a class="product-item-info">
                <div class='product-item-detail'>
                  <div class='product-image'>
                    <a [routerLink]="['/',item.product_id]"><img src="{{item.image}}" alt=""></a>
                  </div>
                  <div class='product-description'>
                    <div style="display: flex;justify-content: space-between;padding-right: 15px;">
                      <p>
                        <ngb-rating [max]="5" [(rate)]="item.rate" [readonly]="true"
                          style="color: #fd7e14;font-size: 16px"></ngb-rating>
                      </p>
                      <p>Mã SP: {{item.product_id}}</p>
                    </div>
                    <div class='product-title'>
                      <a [routerLink]="['/',item.product_id]"
                        style="color: #333; text-decoration: none;font-weight: 600;">{{[item.product_name]}}</a>
                    </div>
                  </div>
                  <div style="align-self: flex-end; margin-left: 15px;">
                    <div class='product-price'>
                      <del class='product-price-old' [hidden]="item.isCheckPrice">{{item.price | currency: 'VND'
                        }}</del>
                      <span class='product-price-new'>{{item.price_display| currency: 'VND'}}</span>
                    </div>
                    <div class='product-checked'>
                      <p [ngStyle]="{'color':item.check === 'Còn hàng' ? '#2cc067' : '#0074da' }">{{item.check}}</p>
                      <div style="padding-left: 135px;" [hidden]="item.checkAmount"><button
                          (click)="addProductToCart(item);"><i class="icon-basket"></i></button></div>
                    </div>
                  </div>
                </div>
              </a>
              <a [routerLink]="['/',item.product_id]">
                <div class="product-item-detail-hover">
                  <div style="height: 240px;overflow:hidden;border:0.5px solid #243a76;">
                    <div
                      style="background: linear-gradient(to right,#243a76,#ed1b24); color: #fff;height: 35px;padding-left: 12px;padding-top: 5px;">
                      <h3 style="font-weight: 500;">Chi tiết</h3>
                    </div>
                    <div style="padding-left: 10px;padding-right:5px">
                      <p style="font-size:18px">- Bảo hành: <span>{{item.warranty}} tháng</span></p>
                      <div style="background: #243a76;color: #fff;border-radius: 4px;width: 50%;margin-top: 10px;">
                        <p style="color: #fff;padding-left:5px">Thông số kĩ thuật</p>
                      </div>
                      <p *ngFor="let description1 of item.descriptions">- {{[description1]}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <div class="product-bestseller" style="padding-bottom: 20px;">
    <div class="product-tilte">
      <div class="product-title-container" style="width: 243px;">
        <h3>Linh kiện máy lính</h3>
      </div>
      <!-- <div style="width: 81%;text-align: right;margin-top: 10px;">
        <a href="">Xem thêm <i class="fas fa-angle-right"></i></a>
      </div> -->
    </div>
    <hr />
    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of list_product_computer_conponent">
          <ng-template carouselSlide [id]="item.product_id" style="display: flex; height: 100%;">
            <div class='product-item' style="width: 100%;">
              <a class="product-item-info">
                <div class='product-item-detail'>
                  <div class='product-image'>
                    <a [routerLink]="['/',item.product_id]"><img src="{{item.image}}" alt=""></a>
                  </div>
                  <div class='product-description'>
                    <div style="display: flex;justify-content: space-between;padding-right: 15px;">
                      <p>
                        <ngb-rating [max]="5" [(rate)]="item.rate" [readonly]="true"
                          style="color: #fd7e14;font-size: 16px"></ngb-rating>
                      </p>
                      <p>Mã SP: {{item.product_id}}</p>
                    </div>
                    <div class='product-title'>
                      <a [routerLink]="['/',item.product_id]"
                        style="color: #333; text-decoration: none;font-weight: 600;">{{[item.product_name]}}</a>
                    </div>
                  </div>
                  <div style="align-self: flex-end; margin-left: 15px;">
                    <div class='product-price'>
                      <del class='product-price-old' [hidden]="item.isCheckPrice">{{item.price | currency: 'VND'
                        }}</del>
                      <span class='product-price-new'>{{item.price_display| currency: 'VND'}}</span>
                    </div>
                    <div class='product-checked'>
                      <p [ngStyle]="{'color':item.check === 'Còn hàng' ? '#2cc067' : '#0074da' }">{{item.check}}</p>
                      <div style="padding-left: 135px;" [hidden]="item.checkAmount"><button
                          (click)="addProductToCart(item);"><i class="icon-basket"></i></button></div>
                    </div>
                  </div>
                </div>
              </a>
              <a [routerLink]="['/',item.product_id]">
                <div class="product-item-detail-hover">
                  <div style="height: 240px;overflow:hidden;border:0.5px solid #243a76;">
                    <div
                      style="background: linear-gradient(to right,#243a76,#ed1b24); color: #fff;height: 35px;padding-left: 12px;padding-top: 5px;">
                      <h3 style="font-weight: 500;">Chi tiết</h3>
                    </div>
                    <div style="padding-left: 10px;padding-right:5px">
                      <p style="font-size:18px">- Bảo hành: <span>{{item.warranty}} tháng</span></p>
                      <div style="background: #243a76;color: #fff;border-radius: 4px;width: 50%;margin-top: 10px;">
                        <p style="color: #fff;padding-left:5px">Thông số kĩ thuật</p>
                      </div>
                      <p *ngFor="let description1 of item.descriptions">- {{[description1]}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>