

.main-slider-left{
    padding-left: 0px;
    padding-right: 0px;
}

.main-slider-left ul{
    list-style: none;
    padding-left: 0px;
    display: grid;
}

.main-slider-left ul a{
    font-size: 17px;
    border: 1px solid #ddd;
    height: 30.78px;
    color: black;
    
}

.main-slider-left ul a:hover{
    background-color: #ffee00ef;
    color: white;
    text-decoration: none
}


.picsum-img-wrapper{
    overflow: hidden; 
}

.picsum-img-wrapper img{
    transition: transform .5s ease;
}

.picsum-img-wrapper:hover img{
    transform: scale(1.25);
}

.main-slider-right{
    padding: 0px;
}

.main-slider-right img{
    height: 215px;
    width: 329px;
}
.banner-duoi-slider{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.banner-duoi-slider img{
    height: 165px;
    width: 326px;
    margin-right: 5px;
}

.picsum-img-banner{
    overflow: hidden;
}

.picsum-img-banner img{
    transition: transform .5s ease;
}

.picsum-img-banner:hover img{
    transform: scale(1.25);
}
.product-bestseller{
    margin-left: -15px;
    margin-top: 30px;
}

.product-title-container{
    padding : 9px;
    height: 45px;
    background-color: #ffee00ef;
    width: 325px;
    color: white;
}
.product-image img{
    width: 250px;
    height: 250px;
}
.product-title-container h3::after{
    content: '';
    position: relative;
    left: 36px;
    bottom: 40px;
    border-bottom: 46px solid #ffee00ef;
    border-right: 50px solid #00000000;
}

.product-news h5,p{
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}


.product-grid{
    display: flex;
}

.product-item{
    border: 1px solid #ddd;
    max-width: 255px;
}

.product-description{
    margin-left: 15px;
}

