<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">{{ title }}</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Tiêu đề</label>
            <input type="text" name="" class="form-control" formControlName="title" id="title" />
            <div *ngIf="submitted && formGroup.controls['title'].errors?.required">
              <div *ngIf="formGroup.controls['title'].errors?.required" style="color: red">
                * Tiêu đề không được để trống
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="news_content">Nội dung</label>
            <input type="text" name="" class="form-control" formControlName="news_content" id="news_content" />
            <div *ngIf="submitted && formGroup.controls['news_content'].errors?.required ">
              <div *ngIf="formGroup.controls['news_content'].errors?.required" style="color: red">
                * nội dung không được để trống
              </div>
             
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Highlight</label>
            <input type="text" name="" class="form-control" formControlName="highlight" id="highlight" />
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <label for="url">URL</label>
            <input type="text" name="" class="form-control" formControlName="url" id="url" />
          </div>
          <div *ngIf="submitted && formGroup.controls['url'].errors?.required || formGroup.controls['url'].errors?.pattern">
            <div *ngIf="formGroup.controls['url'].errors?.required" style="color: red">
              * Url không được để trống
            </div>
            <div *ngIf="formGroup.controls['url'].errors?.pattern" style="color: red">
              * Nhập đúng định dạng url
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="created_at">Ngày đăng</label>
            <input type="text" name="" class="form-control" formControlName="created_at" id="created_at" />
          </div>
        </div>

      </div>
      <div class="form-group">
        <label>Thumbnail</label>
        <div class="profile-img">
          <img [src]="urlPictureDefault" alt="Ảnh đại diện" />
        </div>
        <div [hidden]="isInfo" id="profile-input" class="file btn btn-lg btn-primary">
          Change Photo
          <input type="file" formControlName="thumbnail" (change)="uploadImage($event)" name="file" />
        </div>
        <div *ngIf="submitted && formGroup.controls['thumbnail'].errors?.required">
          <div *ngIf="formGroup.controls['thumbnail'].errors?.required" style="color: red">
            * Thumbnail không được để trống
          </div>
        </div>
      </div>


      <div class="form-group" align="center">
        <button [hidden]="checkButton" type="submit" class="btn btn-success"
          style="width: 100px;height:38px; background:'green';" *ngIf="isEdit || isAdd">
          Lưu
        </button>
        <button type="button" class="btn btn-danger" style="width: 100px" (click)="modal.dismiss('Cross click')">
          Thoát
        </button>
      </div>
    </form>
  </div>
</ng-template>