.row{
    display: flex;
    margin-top: 40px;
    margin-left: 0px;
}

.account-left{
    flex: 0 0 20%;
    max-width: 20%;
    border-radius: 8px;
}

.account-customer{
    display: flex;
}

.account-customer img{
    height: 90px;
    width: 90px;
    border-radius: 45px;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}

#account-list-page{
    margin-top: 15px;
}

#account-list-page a{
    display: flex;
    align-items: center;
    line-height: 40px;
    padding:0 10px;
    text-decoration: none;
    color: black;
}

.active, .link:hover{
    background-color: #ececec;
}

#account-list-page i{
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    color: #888;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.account-right{
    max-width: 945px;
    margin-left: 1rem;
    border-radius: 5px;
}


.file {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 1;
    font-size: 8px;
    background: #212529b8;
}
 .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    width: 100%;
}

span{
    display: block;
    padding: 1rem 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1rem;
}

button{
    width: 350px;
    height: 35px;
    border: 0;
    border-radius: 3px;
    background-color: #243a76;
    outline: none;
}

.customer-changepass{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.changepass-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.changepass-field{
    width: 140px;
}

.changepass-value{
    width: 855px;
}

.changepass-value input{
    display: inline-block;
    width: 350px;
    height: 40px;
    border-radius: 4px;
    padding: 0 8px;
    border: 1px solid #ddd;
}