<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">{{ title }}</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h5 *ngIf="isEdit || isAdd" style="font-size:22px;padding-left: 20px;"> Chọn Sản phẩm</h5>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-sm-8 button-reset">
      <button (click)="resetProduct();" [hidden]="checkedProduct">Làm mới <i class="fas fa-sync-alt"></i></button>
    </div>
    <div class="col-sm-4">
      <div class="search-box" style="padding-right: 22px;">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" (keyup)="filterByKeyword()" [(ngModel)]="searchedKeyword" class="form-control"
          placeholder="Search&hellip;">
      </div>
    </div>
  </div>
  <div class="row" style="width: 99%;align-self: center;">
    <div class="col-12" style="height: 407px;">
      <table class="table table-striped table-hover table-bordered" *ngIf="condition; else elseBlock">
        <thead>
          <tr>
            <th scope="col" *ngIf="isEdit || isAdd">
              <input type="checkbox" *ngIf="isEdit || isAdd" [checked]="isAllCheckBoxChecked()"
                (change)="checkAllCheckBox($event)" />
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Nhãn hiệu</th>
            <th>Thể loại</th>
            <th>Hình ảnh</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
          <tr *ngFor="
                     let e of list_product  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;
                     let i = index
                     ">
            <td *ngIf="isEdit || isAdd">
              <input type="checkbox" [(ngModel)]="list_product[i + (page-1)*pageSize].checked"
                (ngModelChange)="changeModel()" value="{{ e.product_id }}" />
            <td>{{ i + (page-1)*pageSize + 1 }}</td>
            <td [innerHTML]="e.product_name "></td>
            <td [innerHTML]="e.trademark_name "></td>
            <td [innerHTML]="e.product_type_name "></td>
            <td> <img [src]="e.image[0]" alt="" style="width:40px;height:40px"> </td>
          </tr>
        </tbody>
      </table>
      <ng-template #elseBlock>
        <p style="margin-left: 3px;font-size: 15px;">Không tìm thấy sản phẩm phù hợp.</p>
     </ng-template>
    </div>
    <div class="col-12 justify-content-center">
      <ngb-pagination [ellipses]="true" [rotate]="true" [maxSize]="5" [boundaryLinks]="true" [(page)]="page"
        [pageSize]="pageSize" [collectionSize]="list_product.length"></ngb-pagination>
    </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div class="form-group">
        <label>Ngày khuyến mãi</label>
        <input type="date" name="" class="form-control" formControlName="date" id="date" />
        <div *ngIf="submitted && formGroup.controls['date'].errors?.required">
          <div *ngIf="formGroup.controls['date'].errors?.required" style="color: red">
            * Ngày khuyến mãi không được để trống
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Mức khuyến mãi</label>
        <input type="number" name="" min="0" max="100" class="form-control" formControlName="promotion_level"
          id="promotion_level" />
        <div *ngIf="submitted && formGroup.controls['promotion_level'].errors?.required">
          <div *ngIf="formGroup.controls['promotion_level'].errors?.required" style="color: red">
            * Mức khuyến mãi không được để trống
          </div>
        </div>
      </div>
      <div class="form-group" align="center">
        <button type="submit" class="btn btn-success" style="width: 100px;height:38px; background:'green';"
          *ngIf="isEdit || isAdd">
          Lưu
        </button>
        <button type="button" class="btn btn-danger" style="width: 100px" (click)="modal.dismiss('Cross click')">
          Thoát
        </button>
      </div>

    </form>
  </div>
</ng-template>