<span>
    Thay đổi mật khẩu
</span>
<div class = "customer-changepass">
    <form [formGroup]="formGroup" novalidate (ngSubmit)="save()">
        <div class = "customer-changepass">
            <div class = "changepass-row form-group">
                <div class = "changepass-field">Mật khẩu hiện tại</div>
                <div class ="changepass-value">
                    <input type="password" class="form-control" formControlName="old_password">
                </div>
            </div>
            <div class = "changepass-row form-group">
                <div class = "changepass-field">Mật khẩu mới</div>
                <div class ="changepass-value">
                    <input type="password" class="form-control" formControlName="new_password">
                </div>
            </div>
            <div class = "changepass-row form-group">
                <div class = "changepass-field">Nhập lại mật khẩu mới</div>
                <div class ="changepass-value" >
                    <input type="password" class="form-control" formControlName="confirm_password">
                </div>
            </div>
        </div>
        <div style="margin-left: 199px;">
            <button  type="submit"  style="font-size: 17px;color: #fff;">Thay đổi</button>
        </div>
    </form>
</div>