<ng-template #content let-modal>
    <div class="modal-header">
      <h1 class="modal-title" id="modal-basic-title">{{ title }}</h1>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGroup" novalidate (ngSubmit)="save()">
        <div class="form-group">
          <label>Tên sản phẩm</label>
          <input
            type="text"
            name=""
            class="form-control"
            formControlName="product_name"
            id="product_name"
          />
          <div *ngIf="submitted && formGroup.controls['product_name'].errors?.required">
            <div
              *ngIf="formGroup.controls['product_name'].errors?.required"
              style="color: red"
            >
              * Tên sản phẩm không được để trống
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Loại sản phẩm</label>
          <ng-select  formControlName="product_type_id" placeholder="Hãy chọn loại sản phẩm">
            <ng-option *ngFor="let e of arraylist_product_type"  value="{{e.product_type_id}}">{{e.product_type_name}}</ng-option>
          </ng-select>
          <div *ngIf="submitted && formGroup.controls['product_type_id'].errors?.required">
            <div
              *ngIf="formGroup.controls['product_type_id'].errors?.required"
              style="color: red"
            >
              * Loại sản phẩm không được để trống
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Thương hiệu</label>
          <ng-select  formControlName="trademark_id" placeholder="Hãy chọn nhãn hiệu">
            <ng-option *ngFor="let e of arraylist_trademark"  value="{{e.trademark_id}}">{{e.trademark_name}}</ng-option>
          </ng-select>
          <div *ngIf="submitted && formGroup.controls['trademark_id'].errors?.required">
            <div
              *ngIf="formGroup.controls['trademark_id'].errors?.required"
              style="color: red"
            >
              * Mã thương hiệu không được để trống
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Bảo hành(Tháng)</label>
          <input
            type="text"
            name=""
            class="form-control"
            formControlName="warranty"
            id="warranty"
            rows="10"
            cols="30"
          >
          <div *ngIf="submitted && formGroup.controls['warranty'].errors?.required">
            <div
              *ngIf="formGroup.controls['warranty'].errors?.required"
              style="color: red"
            >
              * Bảo hành không được để trống
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Mô tả sản phẩm</label>
          <textarea
            type="text"
            name=""
            class="form-control"
            formControlName="description"
            id="description"
            rows="10"
            cols="30"
          ></textarea>
          <div *ngIf="submitted && formGroup.controls['description'].errors?.required">
            <div
              *ngIf="formGroup.controls['description'].errors?.required"
              style="color: red"
            >
              * Mô tả sản phẩm không được để trống
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Hình ảnh</label>
          <div class="profile-img">
            <img [src]="urlPictureDefault" alt="Ảnh đại diện" />
          </div>
          <div [hidden]="isChangeImage"   id="profile-input" class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" formControlName="image" multiple=true (change)="uploadImage($event)" name="file" />
          </div>
          <div style="justify-content: center;margin-top: -12px;display: flex;">
            <div *ngFor = "let item of uploads">
              <img style="height: 50px;width: 50px;" [src]="item" alt="">
            </div>
          </div>
          <div *ngIf="submitted && formGroup.controls['image'].errors?.required">
            <div *ngIf="formGroup.controls['image'].errors?.required" style="color: red">
              * Hình ảnh sản phẩm không được để trống
            </div>
          </div>
        </div>       
        <div class="form-group" align="center">
          <button
            type="submit"
            class="btn btn-success"
            style="width: 100px;height:38px; background:'green';"
            *ngIf="isEdit || isAdd"
          >
            Lưu
          </button>
          <button
          type="button"
            class="btn btn-danger"
            style="width: 100px"
            (click)="modal.dismiss('Cross click')"
          >
            Thoát
          </button>
        </div>
       
      </form>
    </div>
  </ng-template>